<hr>

<%= render("note_templates/validation_failures.html.erb") %>

<h3>Add a new note to your data</h3>
  <form action="/insert_note_record" method="post">
    <label for="notes">
      Notes
    </label>
    <textarea type="text" id="notes" name="notes" placeholder="Enter a note..."></textarea>
    
    <label for="inputs_identifier">
      Inputs
    </label>
    <select id="inputs_identifier" name="inputs_id">
      <% current_user.inputs.each do |input| %>
        <option value="<%= input.id %>">
          <%= input.date_of_entry.strftime("%B %d, %Y") %>, Input n.<%= input.id %>
        </option>
      <% end %>
    </select>  

<div class="pt-4 pagination justify-content-center">
  <button class="btn btn-primary">
    Add new note
</button>

</div>


  </form>

<hr>

<a href="/notes">
  Go back
</a>
