<h1>
  Add a new status
</h1>

<hr>

<%= render("status_templates/validation_failures.html.erb") %>

<form action="/insert_status_record" method="post">
  <div>
    <label for="area_of_interest">
      Area of interest
    </label>

    <input type="text" id="area_of_interest" name="area_of_interest" value="<%= @status.area_of_interest %>">
  </div>

  <div>
    <label for="status">
      Status
    </label>

    <textarea id="status" name="status"><%= @status.status %></textarea>
  </div>

  <div>
    <label for="action_plan">
      Action plan
    </label>

    <textarea id="action_plan" name="action_plan"><%= @status.action_plan %></textarea>
  </div>

  <button>
    Create status
  </button>
</form>

<hr>

<a href="/statuses">
  Go back
</a>
