<!DOCTYPE html>
<html>
  <head>
    
    <!-- Expand the characters we can use beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect the latest light.css to override browser default styles. -->
    <!-- You should replace this with a real stylesheet ASAP; probably Bootstrap, commented out below. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Embedding other CSS and JavaScript from gems and things -->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Rails security stuff -->
    <%= csrf_meta_tags %>

    <!-- START BOOTSTRAP -->
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- END BOOTSTRAP -->
  </head>

  <body>

    <% if current_user.blank? %>
      <div></div>
      <% else %>
    <nav class="navbar navbar-expand-lg navbar-outline-secondary bg-outline-secondary"> 
  <a class="navbar-brand" href="/">
    <div><img src="http://www.carnessaleconsulting.it/images/logo_cc_new.gif" width="250" height="80" class="d-inline-block align-top" alt=""></div>
    <div>    Financial Control Dashboard</div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-tachometer-alt"></i>Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customers">
          <i class="fas fa-users"></i>Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/financials">
          <i class="fas fa-chart-line"></i>
          Economics & Financials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/processes">
          <i class="fas fa-clipboard-list"></i>Processes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/educationinnovation">
          <i class="fas fa-graduation-cap"></i>
          Education & Innovation</a>
      </li>
    </ul>
  </div>
</nav>
      <% end %>




    <!-- ↓↓↓ Your view templates all get plugged in below ↓↓↓ -->
    <%= yield %>
    <!-- ↑↑↑ Your view templates all get plugged in above ↑↑↑ -->
    
    
    <% if current_user.blank? %>
      <div class="pb-4 pagination justify-content-center">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <a class="btn btn-outline-info btn-lg" href="/users/sign_up" role="button">Sign Up</a>
      <% else %>
        <a class="btn btn-outline-success btn-lg" href="/users/sign_in" role="button">Sign In</a>
      <% end %>
      </div>
    <% else %>
      <div>
      <div class="pb-4 pagination justify-content-center">
        <a class="btn btn-outline-info btn-lg" href="/users/edit" role="button">Edit Profile</a>
        <a class="ml-4 btn btn-outline-primary btn-lg" href="/new_input_form" role="button">Input Updated Data</a>
        <a class="ml-4 btn btn-outline-secondary btn-lg" href="/users/sign_out" data-method="delete" role="button">Sign Out</a>
      </div>
    <% end %>
    
  </body>
</html>
